@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.sidebar {
    position: fixed;
    width: 117px;
    height: 100vh;
    background: #020203;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 4rem;
}

.sidebar ul {
    position: relative;
    transform: translateY(50%);
}

.sidebar-txt {
    height: 30px;
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    transform: rotate(-90deg);
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 27px;
    width: 20%;
    gap: 0.5rem;
}

.list {
    width: 80%;
}

.navbar {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 91px;
    background: #020203;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.icon {
    width: 57.196px;
    height: 57.703px;
}

.icon-title {
    width: 109.302px;
    height: 24.286px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.nav-list-item {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-right: 20px;
}

.nav-list-item a {
    color: #FFF;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

header {
    position: absolute;
    top: 18%;
    left: 10%;
}

.home-title {
    color: #000;
    font-family: "Roboto", cursive;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.username {
    color: #FF0101;
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.welcome-p {
    margin-top: 2.5rem;
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.charts-container {
    position: absolute;
    left: 10%;
    top: 30%;
    width: 85%;
}

.first-part {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: flex-start;
}

.second-part {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    gap: 3.2rem;
    align-items: flex-start;
    width: 75%;
    transform: translateY(-100%);
}

.activity {
    border-radius: 5px;
    background: #FBFBFB;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}

.nutrition-container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.time-container {
    border-radius: 5px;
    background: #F00;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
    width: 300px;
}

.radar-container {
    border-radius: 5px;
    background: #282D30;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
    width: 300px;
    height: 250px;
}

.score-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #FBFBFB;
    width: 300px;
    height: 250px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
}

.activity-title {
    color: #20253A;
    font-family: "Roboto", cursive;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    position: relative;
    margin-bottom: 0.5rem;
}

.legend {
    position: absolute;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: #20253A;
    font-family: "Roboto", cursive;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    gap: 1rem;
    right: 5%;
    bottom: 30%;
    margin-bottom: 0.5rem;
}

.legend-item {
    display: flex;
    align-items:center;
    flex-direction: row;
}

.point {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 5px;
}

.point-kg {
    background-color: #282D30;
    
}

.point-kcal {
    background-color: #E60000;
    display:flex;
}

.tool-container {
    width: 60px;
    height: 63px;
    background: #E60000;
    border-radius: 5px;
}

.tool {
    color: #FFF;
    text-align: center;
    font-family: "Roboto";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.tool-length-container {
    width: 39px;
    height: 25px;
    background: #FFF;
    border-radius: 5px;
}

.tool-length {
    color: #000;
    text-align: center;
    font-family: "Roboto", cursive;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.nutri-div {
    width: 300px;
    height: 124px;
    border-radius: 5px;
    background: #FBFBFB;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}

.nutri-img {
    width: 60px;
    height: 60px;
}

.calories {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #282D30;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.calories-title {
    color: #74798C;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.proteines {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #282D30;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.proteines-title {
    color: #74798C;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.glucides {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #282D30;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.glucides-title {
    color: #74798C;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.lipides {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #282D30;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.lipides-title {
    color: #74798C;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.legend-text {
    position: absolute;
    top: 5px;
    left: 5px;
}





@media screen and (max-width:1500px) {
    header {
        margin-left:2rem;
    }
    .charts-container{
        padding:2rem;
    }
    .first-part {
        display:flex;
        flex-direction: column;
    }
    .nutrition-container {
        flex-direction: row;
        width:90%;
    }
    .second-part {
        transform:translateY(10%)
    }
    }


    
@media screen and (max-width:1180px) {
    header {
        margin-left:-2rem;
    }
    .charts-container{
        margin-left:-4rem;
        padding:2rem;
    }
    .first-part {
        display:flex;
        flex-direction: column;
    }
    .nutrition-container {
        flex-direction: row;
        width:109%;
    }
    .second-part {
        transform:translateY(10%)
    }
    .sidebar {
        width: 60px;
    }
    .sidebar-icon {
        width:40px;
        height: 40px;
    }
    }


    @media screen and (max-width:1103px) {
        header {
            margin-left:-2rem;
        }
        .charts-container{
            margin-left:-4rem;
            padding:2rem;
        }
        .first-part {
            display:flex;
            flex-direction: column;
        }
        .nutrition-container {
            flex-direction: row;
            width:116%;
        }
        .second-part {
            transform:translateY(10%)
        }
        .sidebar {
            width: 60px;
        }
        .sidebar-icon {
            width:40px;
            height: 40px;
        }
        .time-container, .radar-container, .score-container {
            width:270px;
        }
        }

